// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #364051;
$blue: #3c4251;
$light-blue: #464b5e;
$button-background: #1c88bf;
$purple: #8357c5;
$dark-grey: #333333;
$light-grey: #f7f7f7;
$grey: #888888;
$grey-text: #666;
$white: white;

// Font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Borders
$light-border: .1rem solid lighten($light-blue, 10%);